



.border{
	border: solid red 1px;

}

.tapa-topo{
	height: 117.4px;
	background: red;
}





/*____________________BARRINHA PRETA____________________*/

.loc{
	background-image: url(../imagens/loc-transpa.png) ;
	background-size: 7px;
	background-repeat: no-repeat;

}

.tel{
	background-image: url(../imagens/tel.png) ;
	background-size: 8px;
	background-repeat: no-repeat;
	background-position: left center;

}

.rel{
	background-image: url(../imagens/relo.png) ;
	background-size: 9px;
	background-repeat: no-repeat;
	background-position: left center;
	
}

/*____________________ FIM BARRINHA PRETA____________________*/



/*____________________ MENU ____________________*/

.menor{
	font-size: 13px;
	padding-top: 1px;
}

.maior{
	font-size: 17.45px;
	text-transform: uppercase;
	display: inline-block;
}

#barra li{
	padding-right: 15px;
	letter-spacing: 2px;

}
#barra a{
	color: #08088A;
}

#barra{
	padding-right: 10px;
	line-height: 1em;
	margin-right: 18px;

}

.navbar-expand-lg .navbar-nav .dropdown-menu{
	position: absolute;
	margin-right: 20px;
}



.border{
	border: 1px solid red;
}


#no-wrap{
	white-space: nowrap;
}


.form {
	font-size: 13px;
	padding-left: 5px;
	margin-left: -25px;
	letter-spacing: 0.08em;
}

.dropdown-menu.show {
    display: block;

}

/*____________________ FIM MENU ____________________*/

/*____________________ HOME ____________________*/
.carousel .carousel-item {

	position: relative;
	min-width: 50%;
	height: auto;
	z-index: -1;
}
#home1{
	position: relative;
	z-index: 1;
	background-color: #585858;
	height: 800px;
	margin-bottom: -267px;
}

#home1 img{
	width: 100%; 
	min-width: 1080px;
	height: auto;
	opacity: 0.6;

}


#home2{
	position: relative;
	z-index: 1;
	background-color: orange;
	height: 800px;
	margin-bottom: -267px;
	min-width: 500px;
}




/*____________________ FIM HOME ____________________*/



.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
	width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}



/*____________________MEDIA QUERIES____________________*/


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	.dropdown{
		display: none;
	}

	.maior{
	
	display: block;
	}


	.navbar-brand img{
		width: 85px;
		margin-top:  -15px;		
	}

	

	nav#no-wrap{
		height: 50px;
		position: relative;
		border: solid red 1px;
	}

	.navbar-toggler{

		margin-top: -9.5px;
	}

	#barra{
		margin-right: -40px;
		margin-left: -30px;
	}

		#barra ul li{
		position: relative;
		border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
		margin-left: -25%;
		padding: 5px 0;
		padding-right: 20px;
		background: white;	
		margin-right: 5.57px;


	}
	

	#barra ul li.no-border{
		border: none;
	} 

	#barra ul li div.bor{
		
		border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
		padding: 5px 0;
		padding-right: 15px;
		
	}

	#barra ul li div.no-border{
		
		border: none;
		padding: 5px 0;
		padding-right: 15px;
		
	}

	#barra .direita{
		float: right;
		text-align: right;
	}

	.tapa-topo{
		height: 50.4px;
		background: red;
	}



	
	a.active.focus,
	a.active:focus,
	a.focus,
	a:active.focus,
	a:active:focus,
	a:focus,
	button.active.focus,
	button.active:focus,
	button.focus,
	button:active.focus,
	button:active:focus,
	button:focus,
	.btn.active.focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn:active:focus,
	.btn:focus {
		outline: 0;
    	outline-color: transparent;
    	outline-width: 0;
    	outline-style: none;
    	box-shadow: 0 0 0 0 rgba(0,123,255,0);
	}

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	.dropdown{
		display: none;
	}

	.maior{
	
	display: block;
	}


	.navbar-brand img{
		width: 85px;
		margin-top:  -15px;		
	}

	

	nav#no-wrap{
		height: 50px;
		position: relative;
		border: solid red 1px;
	}

	.navbar-toggler{

		margin-top: -9.5px;
	}


	

	#barra .direita{
		float: right;
		text-align: right;
	}

	.tapa-topo{
		height: 50.4px;
		background: red;
	}


		/*__________BARRA__________*/
	#barra{
		margin-right: -30px;
	}


	#barra ul li{
		position: relative;
		border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
		margin-left: -25%;
		padding: 5px 0;
		padding-right: 20px;
		background: white;	
		margin-right: -4px;


	}


	#barra ul li.no-border{
		border: none;
	} 

	#barra ul li div.bor{
		
		border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
		padding: 5px 0;
		margin-right: -15px;
		padding-right: 15px;
		
	}

	#barra ul li div.no-border{
		
		border: none;
		padding: 5px 0;
		padding-right: 15px;
		
	}


	/*__________ FIM BARRA__________*/


		a.active.focus,
	a.active:focus,
	a.focus,
	a:active.focus,
	a:active:focus,
	a:focus,
	button.active.focus,
	button.active:focus,
	button.focus,
	button:active.focus,
	button:active:focus,
	button:focus,
	.btn.active.focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn:active:focus,
	.btn:focus {
    	outline: 0;
    	outline-color: transparent;
    	outline-width: 0;
    	outline-style: none;
    	box-shadow: 0 0 0 0 rgba(0,123,255,0);
	}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.dropdown{
		display: none;
	}

	.maior{
	
	display: block;
	}

	.navbar-brand img{
		width: 85px;
		margin-top:  -15px;		
	}

	

	nav#no-wrap{
		height: 50px;
		position: relative;
		border: solid red 1px;
	}

	.navbar-toggler{

		margin-top: -9.5px;
	}

	/*__________BARRA__________*/
	#barra{
		margin-right: -30px;
		margin-left: 70%;
		padding-left: 0;
		padding-right: 0;
	}


	#barra ul li{
		position: relative;
		border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
		margin-left: -19%;
		padding: 5px 0;
		padding-right: 20px;
		background: white;	
		margin-right: 5.57px;

	}


	#barra ul li.no-border{
		border: none;
	} 

	#barra ul li div.bor{
		
		border-bottom: 1px rgb(0, 0, 0, 0.1) solid;
		padding: 5px 0;
		margin-right: -15px;
		padding-right: 15px;
		
	}

	#barra ul li div.no-border{
		
		border: none;
		padding: 5px 0;
		margin-right: -15px;
		padding-right: 15px;
		
	}
	/*f*/


	/*__________ FIM BARRA__________*/



	#barra .direita{
		float: right;
		text-align: right;
	}

	.tapa-topo{
		height: 50.4px;
		background: red;
	}




	a.active.focus,
	a.active:focus,
	a.focus,
	a:active.focus,
	a:active:focus,
	a:focus,
	button.active.focus,
	button.active:focus,
	button.focus,
	button:active.focus,
	button:active:focus,
	button:focus,
	.btn.active.focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn:active:focus,
	.btn:focus {
		 outline: 0;
    	outline-color: transparent;
    	outline-width: 0;
    	outline-style: none;
    	box-shadow: 0 0 0 0 rgba(0,123,255,0);
	}

}



/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	.form {
		font-size: 13px;
		padding-left: 0px;
		margin-left: -65px;
		letter-spacing: 0.08em;
	}

	#barra{

	padding-right: 10px;
	line-height: 1em;
	background: white;	
	margin-right: -25PX;

	}

	
	

}





/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	.form {
	font-size: 13px;
	padding-left: 5px;
	margin-left: -25px;
	letter-spacing: 0.08em;
	}

	
	

	

}
-----------------------------------------------------------


